In [1]:
import pandas as pd
data={'x':[13,19,16,14,15,14],
     'y':[40,83,62,48,58,43]}
data=pd.DataFrame(data)
data

    x   y
0  13  40
1  19  83
2  16  62
3  14  48
4  15  58
5  14  43

In [2]:
data['x2']=data.iloc[:,0]**2

In [3]:
data['xy']=data.iloc[:,0]*data.iloc[:,1]

In [5]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
linear_regression=linear_model.LinearRegression()
linear_regression.fit(X=pd.DataFrame(data['x']),y=data['y'])
prediction = linear_regression.predict(X=pd.DataFrame(data['x']))
a = linear_regression.intercept_
b = linear_regression.coef_

In [9]:
data['y_hat'] = prediction
data

    x   y   x2    xy      y_hat
0  13  40  169   520  39.788321
1  19  83  361  1577  83.759124
2  16  62  256   992  61.773723
3  14  48  196   672  47.116788
4  15  58  225   870  54.445255
5  14  43  196   602  47.116788

In [11]:
data['residual'] = data['y']-data['y_hat']
data

    x   y   x2    xy      y_hat  residual
0  13  40  169   520  39.788321  0.211679
1  19  83  361  1577  83.759124 -0.759124
2  16  62  256   992  61.773723  0.226277
3  14  48  196   672  47.116788  0.883212
4  15  58  225   870  54.445255  3.554745
5  14  43  196   602  47.116788 -4.116788

In [14]:
SSE = (data['residual']**2).sum()
SSE

31.03649635036502

In [22]:
se1=((data['y']**2).sum()-(a*data['y'].sum())-(b*data['xy'].sum()))/len(data)-2
se1

array([3.17274939])

In [21]:
se2=SSE/len(data)-2
se2

3.1727493917275034

In [24]:
SSR=((data['y_hat']-data['y'].mean())**2).sum()
SSR

1226.296836982968

In [27]:
SST1=((data['y']-data['y'].mean())**2).sum()
SST1

1257.3333333333333

In [26]:
SST2=SSR+SSE
SST2

1257.333333333333

In [28]:
R_square1=SSR/SST
R_square1

0.9753156179610032

In [29]:
R_square2=1-SSE/SST
R_square2

0.9753156179610034